In [64]:
import os.path
import pandas as pd
import datetime

In [3]:
os.path.isfile('stub.py')

False

In [12]:
print time.strftime("%H:%M:%S", time.time())

TypeError: argument must be 9-item sequence, not float

In [10]:
time.strptime?

In [23]:
now = datetime.datetime.now()

In [27]:
elapsed = datetime.datetime.now() - now
print elapsed

2:56:03.757000

In [26]:
print datetime.datetime.now()

2017-04-27 23:08:19.757000

In [38]:
i = 10
print "Combos: {},  Elapsed time: { %H:%M:%S}".format(i, elapsed)

KeyError: '%H'

In [43]:
"_".join(['s','g','f'])

's_g_f'

In [44]:
l = [1,2,3,4,5]
map(str, l)

['1', '2', '3', '4', '5']

In [68]:
with open("grid_results.csv", "a") as myfile:
    myfile.write("bla, bla, bla, bla\n")

In [75]:
df = pd.read_csv('log11.csv')

In [79]:
df[df.Gravity == 0]

     Unnamed: 0  Gravity  Score     Death
66           66      0.0    0.0  tree_top
223         223      0.0    1.0  tree_bot
366         366      0.0    1.0  tree_bot
394         394      0.0    0.0  tree_top
398         398      0.0    2.0  tree_top
441         441      0.0    2.0  tree_top
444         444      0.0   12.0  tree_bot
451         451      0.0   23.0  tree_bot
454         454      0.0   20.0  tree_top
482         482      0.0   43.0  tree_bot
486         486      0.0   35.0  tree_top
495         495      0.0  113.0  tree_top

In [88]:
df.Score.quantile(0.80)

7.0

In [92]:
df.Death.mode()[0]

'off_bot'

In [97]:
df[30:][df[30:].Gravity == 0]

     Unnamed: 0  Gravity  Score     Death
66           66      0.0    0.0  tree_top
223         223      0.0    1.0  tree_bot
366         366      0.0    1.0  tree_bot
394         394      0.0    0.0  tree_top
398         398      0.0    2.0  tree_top
441         441      0.0    2.0  tree_top
444         444      0.0   12.0  tree_bot
451         451      0.0   23.0  tree_bot
454         454      0.0   20.0  tree_top
482         482      0.0   43.0  tree_bot
486         486      0.0   35.0  tree_top
495         495      0.0  113.0  tree_top

In [98]:
[1,2,3,4] + [5,6,7]

[1, 2, 3, 4, 5, 6, 7]

In [99]:
while True:
    break
print "aight"

aight